.wrap{
    width: 100%;
    max-width: 490px;
    margin: 30px auto 0;
   
}
h1{
    text-align: center;
}
table{
    border-collapse: collapse;
    border: 1px solid black;
}
.white-box{
    padding: 30px;
}
.black-box{
    padding: 30px;
    background-color: black;
}